// Colors

// White
$white-1: #ffffff;
$white-2: #f7f5fe;
$white-3: #ccd2e8;
$white-4: #bab1ed;
$white-5: #e8e5ff;
$white-6: #f4f2ff;
$white-7: #b6b0d7;
$white-8: #e6e1f8;
$white-9: #edecf4;
$white-9: #edecf4;
$white-10: #f8f6ff;
$white-11: #e6e1f8;

// Yellow
$yellow-1: #f4a202;
$yellow-2: #fac257;

// Black
$black-1: #2c3034;

// Purpure
$purpure-1: #8370ef;

// Red
$red-1: '#E9113C';

// Green
$green-1: '#00E701';
