<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head'); %>
  </head>

  <body>
    <main id="wrapper">
      <section class="content">
        <%- include('../components/sidebar'); %>

        <div class="hero">
          <%- include('../components/header'); %>
          <div class="container"><%- include('../components/keno'); %></div>
        </div>
      </section>
    </main>
  </body>

  <!-- Libs -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- My Scripts -->
  <script src="js/main.js"></script>
</html>
