<!-- header -->
<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="images/logo.svg" alt="Huh?" />
      <h1>Anathema</h1>
    </div>

    <div class="header__wallet">
      <div class="wallet__amount">
        <h1>0.0000000</h1>
      </div>
      <div class="wallet__currency">
        <img src="images/bitcoin.svg" alt="Bitcoin" />
        <i class="fa-solid fa-sort-down icon"></i>
      </div>
    </div>

    <div class="mobile-hamburger">
      <i class="fa-solid fa-bars icon"></i>
    </div>

    <div class="mobile-menu">
      <nav class="mobile-navbar">
        <ul class="mobile-navbar__list">
          <li class="mobile-navbar__item">
            <a href="#" class="mobile-navbar__link">
              <div class="mobile-navbar__icon">
                <i class="fa-solid fa-border-all icon"></i>
              </div>

              <h3>Keno</h3>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
