<aside class="keno__sidebar">
  <header class="keno__sidebar-header">
    <div class="game-icon">
      <i class="fa-solid fa-border-all icon"></i>
    </div>
    <h1>Keno</h1>
  </header>

  <div class="keno__sidebar-amount">
    <header class="amount__header">
      <h3>Bet Amount</h3>
      <h3>$981.22</h3>
    </header>

    <div class="amount__input">
      <div class="amount__action">
        <button>Min</button>
        <button>/2</button>
      </div>

      <input type="text" placeholder="0.1000" />

      <div class="amount__action">
        <button>X2</button>
        <button>Max</button>
      </div>
    </div>
  </div>

  <div class="keno__sidebar-buttons">
    <button>Auto Pick</button>
    <button>Clear Table</button>
    <button>Play $9 188.99</button>
  </div>

  <div class="keno__sidebar-hash">
    <h3>Hash: 879asd7asd079a079sda09sd7980as</h3>
    <i class="fa-solid fa-copy icon"></i>
  </div>
</aside>
